<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OUSMAN UMAR</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Welcome to OUSMAN UMAR's page</h1>
          <p>
            My focus is to avoid the youth in Ghana embark on life-threatening
            journeys like the one I had undergone.
          </p>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <p>&copy; 2023 OUSMAN UMAR. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
